body {
  /* background-color: #000; */
  margin: 0;
  min-height: 500px;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* layout */
.l-header {
  background-color: #DEEBEC;
  background-color: #BED9DD;
  background-color: #AECFD0;
  background-color: #73B3B2;
  background-color: #3C979F;
  padding: 10px;
}

.l-footer {
  background-color: #DDD;
  padding: 5px 0;
}

/* component */
.logo {
  color: #FFF;
  font-size: 28px;
  font-weight: bold;
}
.title {
  color: #444;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.gNavWrapper {
  background-color: #73B3B2;
}
.gNav {
  color: #FFF;
  display: flex;
  margin: 0;
}
.gNav > li {
  padding: 0;
}
.gNav > li > a {
  color: #FFF;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}
.gNav > li > a:hover {
  background-color: #AECFD0;
}

.threadlist {
  list-style: none;
  padding-left: 0;
}

.threadlist > li {
  background-color: #AECFD0;
  border: solid 1px #73B3B2;
  border-radius: 4px;
  padding: 8px;
}

.threadlist > li + li {
  margin-top: 8px;
}

.threadForm > input {
  border-radius: 4px;
  min-width: 200px;
  padding: 8px 16px;
}

.threadForm > input + button {
  margin-left: 20px;
}
.submitBtn {
  background-color: #3C979F;
  border: solid 1px #3C979F;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  padding: 8px 16px;
}
.submitBtn:hover {
  background-color: #73B3B2;
  border: solid 1px #73B3B2;
  color: #FFF;
}